<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="/style.css">
    <!--GOOGLE FONT-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@500&display=swap" rel="stylesheet">
    <!--ICONS-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
</head>
<body>
    <section class="todo-container">
        <h1>Tutor Management</h1>
        <section class="todo">
            <a href="/">Main Menu</a>
            <ul class="todo-list">
                <% Classes.forEach(details => { %>
                    <% if(details.paid === true) { %>
                        <li class="todo-list-item">
                            <div>
                                <div class="todo-list-item-title"><%= details.classDate %></div>
                                <div class="todo-list-item-title"><%= details.name %></div>
                            </div>
                            <form action="/archive/notPaid/<%= details._id %>" method="POST">
                                <input type="checkbox" name="paid" onchange="this.form.submit()" checked>
                            </form>
                            <a href="/edit/<%= details._id %>/<%= details.paid %>" class="edit"><span class="fas fa-edit"></span></a>
                            <a href="/edit/edit/remove/<%= details._id %>" class="remove"><span class="fas fa-times"></span></a>
                        </li>   
                    <% } %> 
                <% }) %>
            </ul>
        </section>
    </section>
    <script src="../public/home.js"></script>
</body>
</html>