<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Item</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
</head>
<body>
    <section class="todo-container">
        <h2>Edit List Item</h2>
        <section class="todo">
            <ul class="todo-list">
                <% Classes.forEach(details=> { %>
                    <% if (details._id==classId ) { %>
                        <li class="todo-list-item">
                            <form action="/edit/update/<%= details._id %>" method="POST">
                                <input type="text" name="name" value="<%= details.name %>">
                                <input type="date" name="classDate" value="<%= details.classDate %>">
                                <input type="number" name="rate" value="<%= details.rate %>">
                                <input type="text" name="topic" value="<%= details.topic %>">
                                
                                <textarea rows="6" cols="45" name="pros"><%= details.pros %></textarea>
                                <textarea rows="6" cols="45" name="cons"><%= details.cons %></textarea>
                                <input type="text" name="homework" value="<%= details.homework %>">

                                <button type="submit" class="confirm">Confirm</button>
                                <a href="/" class="cancel">Cancel</a>
                            </form>
                        </li>
                    <% } if (details.paid==classPaid){ %>
                        <li class="todo-list-item">
                            <div class="todo-list-item-title">
                                <%= details.name %>
                            </div>
                            <div class="todo-list-item-title">
                                <%= details.classDate %>
                            </div>
                            <div class="todo-list-item-title">
                                <%= details.rate %>
                            </div>
                            <div class="todo-list-item-title">
                                <%= details.topic %>
                            </div>
                            <div class="todo-list-item-content">
                                <%= details.pros %>
                            </div>
                            <div class="todo-list-item-content">
                                <%= details.cons %>
                            </div>
                            <div class="todo-list-item-title">
                                <%= details.homework %>
                            </div>
                            <a href="/edit/<%= details._id %>/<%= details.paid %>" class="edit"> <span class="fas fa-edit"></span>
                            </a>
                            <a href="/edit/edit/remove/<%= details._id %>" class="remove"> <span class="fas fa-times"></span>
                            </a>
                        </li>
                    <% } %>
                <% }) %>
            </ul>
        </section>
    </section>
</body>
</html>