<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>This is the Home Page!</h1>
    <form action="/" method="POST">
        <input type="text" name="name" placeholder="Student Name">
        <input type="date" name="classDate" placeholder="Class Date">
        <input type="number" name="rate" placeholder="Rate">
        <input type="text" name="topic" placeholder="Topic">
        <textarea rows="6" cols="45" name="pros" placeholder="What went well"></textarea>
        <textarea rows="6" cols="45" name="cons" placeholder="What to improve"></textarea>
        <input type="text" name="homework" placeholder="Homework">
        <button type="submit"><span>Add Task</span></button>
    </form>
    <ul>
        <% Classes.forEach(details => { %>
            <li>
                <div><%= details.classDate %></div>
                <div><%= details.name %></div>
                <div><%= details.paid %></div>
                <a href="/edit/<%= details._id %>">Edit</a>
                <a href="/edit/remove/<%= details._id %>">Remove</a>
            </li>
        <% }) %>
    </ul>
</body>
</html>