<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="/css/style.css">
    <!--GOOGLE FONT-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@500&display=swap" rel="stylesheet">
    <!--ICONS-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
</head>
<body>
    <section class="todo-container">
        <h1>Tutor Management</h1>
        <section class="todo">
            <form action="/" method="POST" class="todo-header" id="classDetails">
                <input type="text" name="name" placeholder="Student Name">
                <input type="date" name="classDate" placeholder="Class Date">

                <input type="number" name="rate" placeholder="Rate">
                
                
                <input type="text" name="topic" placeholder="Topic">
                <textarea rows="6" cols="45" name="pros" placeholder="What went well"></textarea>
                <textarea rows="6" cols="45" name="cons" placeholder="What to improve"></textarea>
                <input type="text" name="homework" placeholder="Homework">
                <button type="submit"><span>Add Task</span></button>
            </form>
            <button onclick="copyToClipboard()">Copy</button>
            <a href="/archive">Archive Menu</a>

            <ul class="todo-list">
                <% Classes.forEach(details => { %>
                    
                    <% if(details.paid == false) { %>
                        <li class="todo-list-item">
                            <div>
                                <div class="todo-list-item-title"><%= details.classDate %></div>
                                <div class="todo-list-item-title"><%= details.name %></div>
                                <div class="todo-list-item-title">$<%= details.rate %></div>
                            </div>
                            <form action="/archive/<%= details._id %>" method="POST">
                                <input type="checkbox" name="paid" onchange="this.form.submit()" >
                            </form>
                            <a href="/edit/<%= details._id %>/<%= details.paid %>" class="edit"><span class="fas fa-edit"></span></a>
                            <a href="/edit/edit/remove/<%= details._id %>" class="remove">
                                <span class="fas fa-times"></span>
                            </a>
                        </li>
                    <% } %> 
                        
                <% }) %>
            </ul>
        </section>
    </section>
    <script src="js/home.js"></script>
</body>
</html>